/* Large Screens */
@media (min-width:901px) {
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 1.7em;
    }
    
    h3 {
        font-size: 1em;
    }

    .header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }
  