@import url(large.css);
@import url(medium.css);
@import url(small.css);

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.main-header {
    width: 100%;
}

.sub-header {
    width: 100%;
}